#lineaDivisora {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(113,184,68,0.28);

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 33.33%;

        i {
            color: #333;
            font-size: 50px;
        }

        h4 {
            color: #333;
            margin-bottom: 0;
            font-weight: 500;
        }
    }
}